:root {
  --normalSize: 1.5rem;
  /* --heading: 2rem; */
  --btnColor: rgb(69, 69, 90);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}
html {
  background-color: rgb(39, 39, 53);
}

#left,
.right,
.pomodoro {
  overflow: auto; /* Add scrollbar when content exceeds */
  margin: 1rem;
  padding: 1rem;
  border: 2px solid pink; 
}

.button {
  display: block; 
  max-height: 2rem;
  text-decoration: none;
  border: none;
  /* font-size: var(--heading); */
  background: none;
  padding: 0.1rem 0.5rem 0;
}

.large {
  margin: auto;
  padding: 1rem 2rem;
  font-size: var(--heading);
  border: 2px solid var(--btnColor);
}
.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
main {
  display: flex;
  height: 100vh;
}

#left { 
  min-width: 15rem;
  max-width: 15rem;
  border: 2px solid pink;
  position: relative;
}
#left > p {
  font-size: var(--heading);
}

li {
  padding: 0.5rem;
  border: 2px solid var(--btnColor);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* note list view */
.note-list {
  margin: 1px;
  border: none;
  display: block;
}

.checkbox{
  margin-right: 8px; /* Adjust the margin as needed */
  border: 2px white solid;
  background: none;
}


li input[type="text"] {
  background: none;
  border: none;
  width: auto;
}

.pomodoro {
  min-width: 15rem;
  max-width: 15rem;
  margin-left: 0;
  right: 10px;
  border: 1px blueviolet solid;
}

.right {
  margin-left: 0;
  position: relative;
  border: 2px solid rgb(145, 73, 108);
  width: 100%;
}

.right > button {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}
.title {
  padding: 1rem 1rem 0;
  min-height: 1rem;
  font-size: 3rem;
  width: calc(100% - 1rem); /* Subtract padding from width */
  background: none;
  border: none;
  margin: 0;
}

hr {
  margin: 1rem auto;
  width: calc(100% - 1rem); /* Subtract padding from width */
}
/* 
textarea {
  border: none;
  padding: 1rem;
  width: inherit;
  min-height: 70vh;
  background: none;
} */

textarea {
  /* font-size: var(--normalSize); */
  resize:none;
  border: none;
  padding: 0.5rem; /* Adjust padding as needed */
  width: calc(100% - 1rem); /* Subtract padding from width */
  min-height: 70vh;
  background: none;
}

/* cat stuff */

.cat-section {
  padding: 1rem;
  margin: auto;
}
.cat-section > pre{
  /* border: 1px white solid; */
  width: min-content;
  margin: auto;
  padding: auto;
}

.cat-section > pre > div {
  color: rgb(202, 192, 81);
  width: fit-content;
  margin: 1rem auto;
} 
