@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normalSize: 1.5rem;
  --btnColor: rgb(98, 98, 118);
  --hamColor: rgb(46, 46, 62);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  /* font-size: 16px; */
  margin: 0;
  padding: 0;
  /* font-weight: bolder; */
  color: whitesmoke;
  font-family: "Space Mono", monospace;
}
*:focus {
  outline: none;
}
html {
  background-color: rgb(39, 39, 53);
}
.button {
  display: block;
  max-height: 2rem;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0.1rem 0.5rem 0;
}
.button > i {
  color: var(--btnColor);
}
.large {
  padding: 1rem 2rem;
  border: 2px solid var(--btnColor);
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

::-webkit-scrollbar {
  display: none;
}
main {
  display: flex;
  height: calc(100vh -1);
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* note list view */
.note-list {
  margin: 1px;
  border: none;
  display: block;
}

.checkbox {
  margin-right: 8px; /* Adjust the margin as needed */
  border: 2px white solid;
  background: none;
}

li input[type="text"] {
  background: none;
  border: none;
  width: auto;
}

.right {
  margin-left: 1rem;
  padding: 1rem, 0;
  width: 100%;
}

.title {
  padding: 1rem 0.5rem 0;
  min-height: 1rem;
  font-size: 3rem;
  width: calc(100% - 2rem); /* Subtract padding from width */
  background: none;
  border: none;
  margin: 0;
}

hr {
  margin: 0.5rem auto;
  width: calc(100% - 1rem); /* Subtract padding from width */
}
/* 
textarea {
  border: none;
  padding: 1rem;
  width: inherit;
  min-height: 70vh;
  background: none;
} */

textarea {
  /* font-size: var(--normalSize); */
  resize: none;
  border: none;
  padding: 0.5rem; /* Adjust padding as needed */
  width: calc(100% - 1rem); /* Subtract padding from width */
  min-height: 70vh;
  background: none;
}

/* cat stuff */

.cat-section {
  padding: 1rem;
  margin: auto;
}
.cat-section > pre {
  width: 50%;
  /* border: 1px white solid; */
  text-wrap: wrap;
  margin: auto;
  padding: auto;
}

.cat-section > pre > div {
  color: rgb(202, 192, 81);
  width: fit-content;
  margin: 1rem auto;
}
