#left,
.right {
  overflow: auto; /* Add scrollbar when content exceeds */
  /* margin: 1rem; */
  border: 2px solid pink;
  height: calc(100vh - 2rem);
}

.make-red {
  background-color: tomato;
}

.make-red * {
  color: black;
}
.make-red > li {
  border: 2px solid black;
}

.make-red button i {
  color: black;
}

#left {
  margin-right: 0;
  min-width: 17rem;
  max-width: 17rem;
  display: flex;
  min-width: 3rem;
}

#left > section {
}

.explorer,
.pomodoro {
  height: 98%;
  position: relative;
  margin: 0.5rem;
  width: 13rem;
}

.ham-burger {
  padding: 2.5rem 0;
  /* background-color: var(--hamColor); */
  width: 3rem;
}

.ham-burger > button {
  font-size: 1rem;
  margin: 0 auto 1rem;
}

#left.isOpen {
  min-width: 17rem;
}
